/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Pattaya', sans-serif;
  color: #556B2F;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.nav-container {
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  width: 100%;
}
@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
  }
}
.nav-container h1 {
  width: 40%;
}
@media (max-width: 800px) {
  .nav-container h1 {
    width: 100%;
    text-align: center;
  }
}
.nav-container nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .nav-container nav {
    width: 70%;
    justify-content: space-between;
    padding: 2rem;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .nav-container nav {
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
  }
}
.nav-container nav a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #8B4513;
}
.nav-container .nav-buttons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .nav-container .nav-buttons {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .nav-container .nav-buttons {
    margin: 1rem 0rem;
    width: 70%;
  }
}
.nav-container .log-in {
  background-color: #556B2F;
  font-size: 1.6rem;
  width: 40%;
  opacity: 0.8;
  padding: 2% 6%;
  border-radius: 10px;
}
.nav-container .log-in:hover {
  opacity: 1;
}
.nav-container .sign-up {
  background-color: #DAA520;
  font-size: 1.6rem;
  width: 40%;
  padding: 2% 5%;
  border-radius: 10px;
  opacity: 0.9;
}
.nav-container .sign-up:hover {
  opacity: 1;
}
footer {
  background-color: #556B2F;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
footer nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
@media (max-width: 500px) {
  footer nav {
    width: 1000%;
    justify-content: space-around;
  }
}
footer nav a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #DAA520;
}
.header img {
  max-width: 100%;
  opacity: 0.8;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 2px dashed #CD853F;
  margin-top: 50px;
}
.main-content h1 {
  width: 80%;
  text-align: center;
}
.main-content p {
  width: 60%;
  text-align: center;
  padding-top: 20px;
}
.how-it-works {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
@media (max-width: 500px) {
  .how-it-works {
    flex-direction: column;
    align-items: center;
  }
}
.how-it-works .pick-your-farm {
  width: 28%;
}
@media (max-width: 500px) {
  .how-it-works .pick-your-farm {
    width: 80%;
  }
}
.how-it-works .pick-your-farm img {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  opacity: 0.7;
}
.how-it-works .pick-your-farm h2 {
  text-align: center;
  margin: 10px 0px;
}
.how-it-works .pick-your-farm p {
  width: 100%;
  text-align: center;
}
.how-it-works .choose-your-produce {
  width: 28%;
}
@media (max-width: 500px) {
  .how-it-works .choose-your-produce {
    width: 80%;
    margin-top: 30px;
  }
}
.how-it-works .choose-your-produce img {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  opacity: 0.7;
}
.how-it-works .choose-your-produce h2 {
  text-align: center;
  margin: 10px 0px;
}
.how-it-works .choose-your-produce p {
  text-align: center;
}
.how-it-works .pick-up-order {
  width: 28%;
}
@media (max-width: 500px) {
  .how-it-works .pick-up-order {
    width: 80%;
    margin-top: 30px;
  }
}
.how-it-works .pick-up-order img {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  opacity: 0.7;
}
.how-it-works .pick-up-order h2 {
  text-align: center;
  margin: 10px 0px;
}
.how-it-works .pick-up-order p {
  text-align: center;
}
.shop-now {
  border-top: 2px dashed #CD853F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.shop-now h2 {
  margin-top: 50px;
}
.shop-now p {
  text-align: center;
  width: 30%;
  padding: 20px 0px;
}
@media (max-width: 500px) {
  .shop-now p {
    width: 80%;
  }
}
.shop-now .shop-now-button {
  background-color: #DAA520;
  font-size: 1.7rem;
  padding: 1% 5%;
  border-radius: 10px;
  margin: 20px 0;
  opacity: 0.9;
}
.shop-now .shop-now-button:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .shop-now .shop-now-button {
    width: 45%;
    padding: 2% 5%;
  }
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pattaya'), local('Pattaya-Regular'), url(https://fonts.gstatic.com/s/pattaya/v5/ea8ZadcqV_zkHY-XBdet8w.ttf) format('truetype');
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #FFF8DC;
}
h1,
h3,
h4,
h5 {
  font-family: 'Pattaya', sans-serif;
  font-size: 4rem;
  color: #556B2F;
}
.about .top-text-area {
  margin: 0 auto;
  padding: 20px 40px;
}
.about .top-text-area h1 {
  text-align: center;
  padding-bottom: 20px;
}
.about .top-text-area p {
  text-align: center;
}
.about .top-image img {
  max-width: 1400px;
  width: 100%;
  border-radius: 2%;
}
.about .col12 h1 {
  padding-bottom: 20px;
}
.about .col12 {
  padding: 25px 20px;
}
.about .two-column {
  padding-bottom: 20px 20px;
}
.about .bio-image img {
  border-radius: 50%;
  display: block;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.about .col12 h1 {
  color: #556B2F;
}
.about strong {
  font-weight: bolder;
}
