@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pattaya&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #FFF8DC;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Pattaya', sans-serif;
    font-size: 4rem;
    color: #556B2F;
  }




.about {
 
    //// my added CSS
    .top-text-area {
      margin: 0 auto;
      padding: 20px 40px;
      }
      
      .top-text-area h1 {
        text-align: center;
        padding-bottom: 20px;
      }
      
      .top-text-area p {
        text-align: center;
      }
      
      .top-image img {
        max-width: 1400px;
        width: 100%;
        border-radius: 2%;
      }
      
      
    // .two-column {
    //     display: flex;
    //     flex-wrap: wrap;
    //     width: 100%;
    // }

    // .col2 {
    //     width: 28%;
    //     margin: 20px 10px;
    //     height: 100%;
    // }

    // .border {
	// 	display: block;
	// 	height: 1px;
	// 	border: 0;
	// 	border-top: 1px dashed @yellow;
	// 	margin: 1em 0;
	// 	padding: 0;
    // }



    .col12 h1 {
        padding-bottom: 20px;
    }

    .col12 {
        padding: 25px 20px;
    }

    .two-column {
        padding-bottom: 20px 20px;
    }

    .bio-image img {
        border-radius: 50%;
        display: block;
        width: 50%;
        margin: auto;
        padding: 20px;
    }

    .col12 h1 {
        color: @headers;
    }

}