footer {
    background-color: @brown;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    nav {
        display: flex;
        justify-content: space-between;
        width: 40%;


        a {
            text-decoration: none;
            font-size: 1.7rem;
            color: @yellow;

        }//this closes a


    }//this closes nav

    button {
        font-size: 1.5rem;
    }
    .log-in {
        background-color: @red;
        width: 80px;
    }//this closes .log-in

    .sign-up {
        background-color: @yellow;
        width: 80px;
    }//this closes .sign-up

}//this closes footer