footer {
    background-color: @yellow;

    nav {

        a {
            text-decoration: none;
            font-size: 1.7rem;
            color: @brown;

        }//this closes a


    }//this closes nav

    button {
        font-size: 1.5rem;
    }
}//this closes footer