* {
    box-sizing: border-box; 
   
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: @background;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;
    color: @headers;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;  
    
  }

  .shop-now {

    h2 {
      text-align: center;
    }
  }
  
  