* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;  
  border: 5px solid purple;
}


/// ABOUT PAGE CSS

@phone: ~"(max-width: 500px)"; 

.top-text-area {
  border: 4px solid green;
}

.top-text-area h1 {
  text-align: center;
}

.top-text-area p {
  text-align: center;
}

.top-image {
    width: 100%;
}


.bio-area {
    display: flex;
    flex-direction: column;
}