.nav-container {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    h1 {
        border: 1px solid grey;
        width: 35%;
    }//this closes h1

    nav {
        border: 1px solid grey;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 1.7rem;
            color: @brown;
        }//this closes a
    }//this closes nav

    button {
        font-size: 1.5rem;
        width: 10rem;
    }

    .nav-buttons {
        border: 1px solid grey;
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }

    .log-in {
        background-color: @red;
        padding: 2% 6%;
    }//this closes .log-in

    .sign-up {
        background-color: @yellow;
        padding: 2% 5%;
    }

}//this closes .nav-container