.nav-container {
    // border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    @media @tablet {
        flex-direction: column;
    }

    h1 {
        // border: 1px solid grey;
        width: 35%;

        @media @tablet {
            width: 100%;
            text-align: center;
        }
    }//this closes h1

    nav {
        // border: 1px solid grey;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media @tablet {
            width: 100%;
            justify-content: space-evenly;
            padding: 2%;
        }

        a {
            text-decoration: none;
            font-size: 1.7rem;
            color: @brown;
        }//this closes a
    }//this closes nav

    button {
        font-size: 1.5rem;
        width: 10rem;
    }

    .nav-buttons {
        // border: 1px solid grey;
        width: 20%;
        display: flex;
        justify-content: space-evenly;

        @media @tablet {
            width: 50%;
        }
    }

    .log-in {
        background-color: @headers;
        opacity: 0.8;
        padding: 2% 6%;
        border-radius: 10px;
    }//this closes .log-in

    .sign-up {
        background-color: @yellow;
        padding: 2% 5%;
        border-radius: 10px;
    }

}//this closes .nav-container